:root {
    --bgclaro: #eee8b2 ;
    --bgescuro: #feecd7;
    --verdeescuro: #081b1b;
    --verdefloresta: #203b37;
    --verdemedio: #5a8f76;
    --verdeclaro: #96cdb0;
  }
 


/* ------------  Header ------------------- */
header{
      width: 100%;
      background-color:var(--verdeescuro);
      height: 100px;
      display: flex;
      justify-content: space-between;
}
  
.divlogo{
      width: 250px;
      display: flex;
      justify-content: center;
}
  
.logo{
      width: 38%;
      height: 38%;
}
  
.menu{
      display: inline-block;
      font-size: large;
      margin-right: 50px;
      margin-top: 20px;
      color: white;
}
  
.menu ul{
      list-style: none;
      margin-top: 10px;
}
  
.menu li{
      display: inline-block;
      padding: 5px 10px;
      margin: 0px 5px;
      font-size: 18px;
      color: #e1e1e1;
      font-family: inherit;
      font-weight: 800;
      cursor: pointer;
      position: relative;
      border: none;
      background: none;
      text-transform: uppercase;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: color;
}
  
.menu li:focus,
.menu li:hover {
    color: #5a8f76;
}
  
.menu li:focus:after,
.menu li:hover:after {
    width: 100%;
    left: 0%;
}
  
.menu li:after {
    content: "";
    pointer-events: none;
    bottom: 1px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #5a8f76;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
  
.button2 {
      display: inline-block;
      transition: all 0.2s ease-in;
      position: relative;
      overflow: hidden;
      z-index: 1;
      color: #090909;
      padding: 0.7em 3.3em 0.7em 1.7em;
      font-size: 18px;
      border-radius: 0.5em;
      background: #e8e8e8;
      border: 1px solid #e8e8e8;
}
    
.button2 > svg {
      height: 30px;
      position: absolute;
      padding: 0px 5px;
      margin-top: -4px;
}
    
.button2:active {
      color: #666;
      box-shadow: inset 4px 4px 12px #c5c5c5,
                 inset -4px -4px 12px #ffffff;
}
    
.button2:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scaleY(1) scaleX(1.25);
      top: 100%;
      width: 140%;
      height: 180%;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
}
    
.button2:after {
      content: "";
      position: absolute;
      left: 55%;
      transform: translateX(-50%) scaleY(1) scaleX(1.45);
      top: 180%;
      width: 160%;
      height: 190%;
      background-color: #009087;
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
}
    
.button2:hover {
      color: #ffffff;
      border: 1px solid #009087;
}
    
.button2:hover:before {
      top: -35%;
      background-color: #009087;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
    
.button2:hover:after {
      top: -45%;
      background-color: #009087;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
    
/* --------- Fim Header ----------------- */

  
/* -------------  Pagina Principal --------------------- */

/* CARROSSEL */
.carousel {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.carousel img {
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.carousel img.active {
  opacity: 1;
}

/* SOBRE NÓS */
.sobre-nos {
  padding: 60px 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sobre-texto {
  flex: 1;
  margin-right: 30px;
}

.sobre-texto h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.sobre-texto p {
  font-size: 1.1em;
  color: #555;
}

.sobre-video {
  flex: 1;
}

.sobre-video video {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* PRODUTOS MAIS VENDIDOS */
.produtos {
  padding: 60px 40px;
  background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
}

.produtos h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
}

.produtos-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.produto {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 280px;
}

.produto:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.produto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.produto h3 {
  padding: 15px;
  text-align: center;
}


/* -------------  Fim Principal --------------------- */


/* ------------ Footer Geral  ---------------------- */
.footer-container {
  background: var(--verdeescuro);
  color: white;
  padding: 40px 8%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 180px;
  filter: brightness(0) invert(1);
}

.footer-title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 2px solid #5a8f76;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links ul {
  list-style: none;
  padding-left: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  color:var(--verdeclaro);
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-links ul li a:hover {
  color: #fff;
}

.footer-payments img {
  width: 50px;
  margin-right: 8px;

}

.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-social a {
  text-decoration: none;
}

.footer-social img {
  width: 30px;
  transition: transform 0.3s;
}

.footer-social img:hover {
  transform: scale(1.1);
}

.footer-address p {
  max-width: 250px;
  line-height: 1.6;
  font-size: 14px;
}

.footer-copy {
  width: 100%;
  text-align: center;
 
  font-size: 14px;
  border-top: 1px solid #f9eeee;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  .footer-links {
      align-items: center;
  }

  .footer-social {
      justify-content: center;
  }

  .footer-payments img {
      width: 45px;
  }
}

/* ---------------- Contato -------------- */
.fundo-contato-informativo {
  padding: 50px 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.titulo-contato-informativo {
  font-size: 3rem;
  margin-bottom: 10px;
}

.bloco-informacoes-contato {
  padding: 10px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}

.bloco-informacoes-contato:hover {
  transform: scale(1.01);
}

.info-item-contato {
  margin-bottom: 25px;
  margin-right: 165px;
}

.titulo-info-contato {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #1c1c1c;
}

.texto-info-contato {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 15px;
}

.redes-sociais-contato {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icone-rede-contato {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%);
}

.icone-rede-contato:hover {
  transform: scale(1.1);
  filter: none;
}

.Mapa{
  margin-top: 50px;
}

.ImgMapa{
  -webkit-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.6);
}
/* ---------------- Serviços -------------- */
.TituloServico{
  font-size: 28px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin: 40px 0 20px 0;
  font-family: inherit;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}


.card {
  background: #f5f5f5;
  position: relative; 
  transition: 0.5s ease-out;
  overflow: visible;
 }

 .imgcard{
  width: 100%;
  height: 100%;
 }
 
 .card-details {
  color: black;
  width: 100%;
  height: 414px;
  display: grid;
  place-content: center;
 }

 .TituloDesc{
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 333px;
  font-family: arial;
  font-weight: bold;
 }
 

 .card-button {
  transform: translate(-50%);
  width: 100%;
  border: none;
  background-color: var(--verdeclaro);
  color: #fff;
  font-size: 1rem;
  padding: 21px;
  position: absolute;
  left: 50%;
  bottom: 32px;
  opacity: 0;
  border-radius: 30px 30px 0 0;
  transition: all 0.3s ease-in-out;
 }
 
 .TextoDesc {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
 }
 
 
 .card:hover {
  border-color: var(--verdeclaro);
  box-shadow: -1px -2px 22px 4px var(--verdeclaro);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 
 .extra-info {
  display: none;
  padding: 1rem;
  text-align: center;
  height: 100px;
}

.extra-info.active {
  display: block;
  height: 100%;
}

.imgcard.hidden {
  display: none;
}

.TituloBanco{
  font-weight: bold;
  text-transform: uppercase;
}

.CentralizarTitulo{
  display: flex;
  justify-content: center;
}

.BotaoConsulta{
  display: flex;
  justify-content: center;
}

.Consultar {
  --stone-50: #fafaf9;
  --stone-800: #292524;
  --verdebotao: #0d7524;

  font-size: 1rem;
  cursor: pointer;
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 1;
  padding: 1px;
  transform: translate(-4px, -4px);
  outline: 2px solid transparent;
  outline-offset: 5px;
  border-radius: 9999px;
  background-color: var(--stone-800);
  color: white;
  text-decoration: none;
  width: 250px;
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;
  text-align: center;
  box-shadow:
    0.5px 0.5px 0 0 var(--stone-800),
    1px 1px 0 0 var(--stone-800),
    1.5px 1.5px 0 0 var(--stone-800),
    2px 2px 0 0 var(--stone-800),
    2.5px 2.5px 0 0 var(--stone-800),
    3px 3px 0 0 var(--stone-800),
    0 0 0 2px var(--stone-50),
    0.5px 0.5px 0 2px var(--stone-50),
    1px 1px 0 2px var(--stone-50),
    1.5px 1.5px 0 2px var(--stone-50),
    2px 2px 0 2px var(--stone-50),
    2.5px 2.5px 0 2px var(--stone-50),
    3px 3px 0 2px var(--stone-50),
    3.5px 3.5px 0 2px var(--stone-50),
    4px 4px 0 2px var(--stone-50);

  &:hover {
    transform: translate(0, 0);
    box-shadow: 0 0 0 2px var(--stone-50);
  }

  &:active,
  &:focus-visible {
    outline-color: var(--verdebotao);
  }

  &:focus-visible {
    outline-style: dashed;
  }

  & > div {
    position: relative;
    pointer-events: none;
    background-color: var(--verdebotao);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 9999px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 9999px;
      opacity: 0.5;
      background-image: radial-gradient(
          rgb(255 255 255 / 80%) 20%,
          transparent 20%
        ),
        radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
      background-position:
        0 0,
        4px 4px;
      background-size: 8px 8px;
      mix-blend-mode: hard-light;
      animation: dots 0.5s infinite linear;
    }

    & > span {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.75rem 1.25rem;
      gap: 0.25rem;
      filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.25));

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

@keyframes dots {
  0% {
    background-position:
      0 0,
      4px 4px;
  }
  100% {
    background-position:
      8px 0,
      12px 4px;
  }
}

/* ------------  Whatsapp ----------------- */

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  margin-top: 16px;
}

.whatsapp-link:hover {
  height: 70px;
  width: 70px;
    
}
