/* Classes Principais */
.container1{
  width: 95%;
  margin: 1px auto;
  background-color:rgb(148, 138, 138);
}

.titulo{
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 30pt;
}

.linhatitulo{
  height: 5px; 
  background-color: black;
  width: 25%;
  margin: 10px auto ;

}




/* Header */
header{
    width: 100%;
    background-color: rgb(41, 44, 44);
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.divlogo{
    width: 250px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 150px;
    height: 100px;
}

.menu{
    display: inline-block;
    font-size: large;
    margin-right: 50px;
    margin-top: 20px;
    color: white;
}

.menu ul{
    list-style: none;
    margin-top: 10px;
}

.menu li{
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.menu li:focus,
.menu li:hover {
  color: #fff;
}

.menu li:focus:after,
.menu li:hover:after {
  width: 100%;
  left: 0%;
}

.menu li:after {
  content: "";
  pointer-events: none;
  bottom: 1px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* From Uiverse.io by NelsonDJCR */ 
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
  }
  
  .button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
/* Fim Header */


/* Pagina Principal */

.carousel-div{
  display: flex;
  justify-content: center;

}

.imgs-carousel{
  width: 550px;
  height: 330px;

}

